NODE_ENV = prod
DB = DB_URL
PORT = 8080
JWT_SECRET = SECRET_KEY
SERVER = http://localhost:8080
CLOUD_NAME= NAME
CLOUD_API_KEY= CLOUD_API_KEY
CLOUD_API_SECRET= CLOUD_API_SECRET
RESEND_API_KEY= RESEND_API_KEY
RESEND_FROM= onboarding@resend.dev